.inputBox{
    width: 80%;
    margin:auto;
}

.inputTitle{
    color: white;
    margin: auto;
}

.imgInput{
    margin: auto;
    width: 80%;
}

.editHeaderLeftImg{
    max-width:300px;
    max-height: 300px;
    margin: auto;
}

.tombolUpdate{
   width: 87%;
   display: flex;
   align-items: center;
   margin:auto;
}